<h3>Add New List</h3>

<form action="/lists" method="post">
  <div class="form_group">
    <label class="form-label" for="name">Assign a name to your list</label>
    <input type="text" name="name" class="form-control" placeholder="List Name">
    <button type="submit" class="btn">Add List</button>
  </div>
</form>
